<div class="iframe-container">
  <div class="iframe-item">
    <iframe src="http://localhost:3000/d-solo/de8zji87xq6f4f/iot?orgId=1&from=1736901435668&to=1736901735668&timezone=browser&panelId=9&__feature.dashboardSceneSolo" width="450" height="200" frameborder="0"></iframe>
  </div>
  <div class="iframe-item">
    <iframe src="http://localhost:3000/d-solo/de8zji87xq6f4f/iot?orgId=1&from=1736901435668&to=1736901735668&timezone=browser&panelId=10&__feature.dashboardSceneSolo" width="450" height="200" frameborder="0"></iframe>
  </div>
<!--  <div class="iframe-item">-->
<!--    <iframe src="http://localhost:3000/d-solo/de8zji87xq6f4f/iot?orgId=1&from=1736902421361&to=1736902721361&timezone=browser&panelId=11&__feature.dashboardSceneSolo" width="450" height="200" frameborder="0"></iframe>-->
<!--  </div>-->
  <div class="iframe-item">
    <iframe src="http://localhost:3000/d-solo/de8zji87xq6f4f/iot?orgId=1&from=1737484151402&to=1737505751402&timezone=browser&panelId=24&__feature.dashboardSceneSolo" width="450" height="200" frameborder="0"></iframe>
  </div>
<!--  <div class="iframe-item">-->
<!--    <iframe src="http://localhost:3000/d-solo/de8zji87xq6f4f/iot?orgId=1&from=1737288508795&to=1737288808795&timezone=browser&panelId=14&__feature.dashboardSceneSolo" width="450" height="200" frameborder="0"></iframe>-->
<!--  </div>-->
<!--  <div class="iframe-item">-->
<!--    <iframe src="http://localhost:3000/d-solo/de8zji87xq6f4f/iot?orgId=1&from=1737405335141&to=1737405635141&timezone=browser&panelId=15&__feature.dashboardSceneSolo" width="450" height="200" frameborder="0"></iframe>-->
<!--  </div>-->
  <div class="iframe-item">
    <iframe src="http://localhost:3000/d-solo/de8zji87xq6f4f/iot?orgId=1&from=1753523160636&to=1753523460636&timezone=browser&panelId=5&__feature.dashboardSceneSolo" width="450" height="200" frameborder="0"></iframe>  </div>
</div>
<div class="iframe-item">
</div>

