<div class="iframe-container">
  <div class="iframe-item">
    <iframe src="http://localhost:3000/d-solo/de8zji87xq6f4f/iot?orgId=1&from=1737502084705&to=1737502106824&timezone=browser&panelId=18&__feature.dashboardSceneSolo" width="450" height="200" frameborder="0"></iframe>
  </div>
  <div class="iframe-item">
    <iframe src="http://localhost:3000/d-solo/de8zji87xq6f4f/iot?orgId=1&from=1737501842152&to=1737502438332&timezone=browser&panelId=20&__feature.dashboardSceneSolo" width="450" height="200" frameborder="0"></iframe>
  </div>
  <div class="iframe-item">
    <iframe src="http://localhost:3000/d-solo/de8zji87xq6f4f/iot?orgId=1&from=1737501842152&to=1737502438332&timezone=browser&panelId=19&__feature.dashboardSceneSolo" width="450" height="200" frameborder="0"></iframe>
  </div>
  <div class="iframe-item">
    <iframe src="http://localhost:3000/d-solo/de8zji87xq6f4f/iot?orgId=1&from=1737481363942&to=1737502963942&timezone=browser&panelId=21&__feature.dashboardSceneSolo" width="450" height="200" frameborder="0"></iframe>
  </div>
  <div class="iframe-item">
    <iframe src="http://localhost:3000/d-solo/de8zji87xq6f4f/iot?orgId=1&from=1737501842152&to=1737502438332&timezone=browser&panelId=13&__feature.dashboardSceneSolo" width="450" height="200" frameborder="0"></iframe>
  </div>
  <div class="iframe-item">
    <iframe src="http://localhost:3000/d-solo/de8zji87xq6f4f/iot?orgId=1&from=1737501842152&to=1737502438332&timezone=browser&panelId=12&__feature.dashboardSceneSolo" width="450" height="200" frameborder="0"></iframe>
  </div>
  <div class="iframe-item">
    <iframe src="http://localhost:3000/d-solo/de8zji87xq6f4f/iot?orgId=1&from=1737481425796&to=1737503025796&timezone=browser&panelId=22&__feature.dashboardSceneSolo" width="450" height="200" frameborder="0"></iframe>
  </div>
  <div class="iframe-item">
    <iframe src="http://localhost:3000/d-solo/de8zji87xq6f4f/iot?orgId=1&from=1737481473035&to=1737503073035&timezone=browser&panelId=23&__feature.dashboardSceneSolo" width="450" height="200" frameborder="0"></iframe>
  </div>
</div>
