<div class="iframe-container">
  <div class="iframe-item">
    <iframe src="http://localhost:3000/d-solo/de8zji87xq6f4f/iot?orgId=1&from=1736901435668&to=1736901735668&timezone=browser&panelId=1&__feature.dashboardSceneSolo" width="100%" height="200" frameborder="0"></iframe>
  </div>
<!--  <div class="iframe-item">-->
<!--    <iframe-->
<!--      src="http://localhost:3000/d-solo/de8zji87xq6f4f/iot?orgId=1&from=now-5m&to=now&timezone=browser&refresh=5s&panelId=1&__feature.dashboardSceneSolo"-->
<!--      width="100%"-->
<!--      height="200"-->
<!--      frameborder="0">-->
<!--    </iframe>-->
<!--  </div>-->

  <div class="iframe-item">
    <iframe src="http://localhost:3000/d-solo/de8zji87xq6f4f/iot?orgId=1&from=now-5m&to=now&refresh=5s&panelId=1&__feature.dashboardSceneSolo" width="100%" height="200" frameborder="0"></iframe>
  </div>
  <div class="iframe-item">
    <iframe src="http://localhost:3000/d-solo/de8zji87xq6f4f/iot?orgId=1&from=1736901435668&to=1736901735668&timezone=browser&panelId=2&__feature.dashboardSceneSolo" width="100%" height="200" frameborder="0"></iframe>
  </div>
  <div class="iframe-item">
    <iframe src="http://localhost:3000/d-solo/de8zji87xq6f4f/iot?orgId=1&from=1736901435668&to=1736901735668&timezone=browser&panelId=3&__feature.dashboardSceneSolo" width="100%" height="200" frameborder="0"></iframe>
  </div>
  <div class="iframe-item">
    <iframe src="http://localhost:3000/d-solo/de8zji87xq6f4f/iot?orgId=1&from=1736901435668&to=1736901735668&timezone=browser&panelId=4&__feature.dashboardSceneSolo" width="100%" height="200" frameborder="0"></iframe>
  </div>
<!--  <div class="iframe-item">-->
<!--    <iframe src="http://localhost:3000/d-solo/de8zji87xq6f4f/iot?orgId=1&from=1736901435668&to=1736901735668&timezone=browser&panelId=5&__feature.dashboardSceneSolo" width="100%" height="200" frameborder="0"></iframe>-->
<!--  </div>-->
<!--  <div class="iframe-item">-->
<!--    <iframe src="http://localhost:3000/d-solo/de8zji87xq6f4f/iot?orgId=1&from=1736901435668&to=1736901735668&timezone=browser&panelId=6&__feature.dashboardSceneSolo" width="100%" height="200" frameborder="0"></iframe>-->
<!--  </div>-->
  <div class="iframe-item">
    <iframe src="http://localhost:3000/d-solo/de8zji87xq6f4f/iot?orgId=1&from=1736901435668&to=1736901735668&timezone=browser&panelId=7&__feature.dashboardSceneSolo" width="100%" height="200" frameborder="0"></iframe>
  </div>
<!--  <div class="iframe-item">-->
<!--    <iframe src="http://localhost:3000/d-solo/de8zji87xq6f4f/iot?orgId=1&from=1736901435668&to=1736901735668&timezone=browser&panelId=8&__feature.dashboardSceneSolo" width="100%" height="200" frameborder="0"></iframe>-->
<!--  </div>-->
  <div class="iframe-item">
    <iframe src="http://localhost:3000/d-solo/de8zji87xq6f4f/iot?orgId=1&from=1737396219543&to=1737417819543&timezone=browser&panelId=16&__feature.dashboardSceneSolo" width="450" height="200" frameborder="0"></iframe>
  </div>
  <div class="iframe-item">
    <iframe src="http://localhost:3000/d-solo/de8zji87xq6f4f/iot?orgId=1&from=1737417640682&to=1737417940682&timezone=browser&panelId=17&__feature.dashboardSceneSolo" width="450" height="200" frameborder="0"></iframe>
  </div>
</div>
